
    <div class="menu">
      <a href="" class="active"><i class="fas fa-home"></i> dashboard</a>
      <a href="" class=""><i class="fas fa-home"></i> dashboard</a>
      <a href="" class=""><i class="fas fa-home"></i> dashboard</a>
      <a href="" class=""><i class="fas fa-home"></i> dashboard</a>
    </div>