<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Document</title>
</head>
<body class="col justifyStart">
    <div class="section height10 justifyBetween">
        <div class="padding15 hpx100 corner500 width0 gap15">
            <img src="/images/logo.png" alt="" class="height90 corner500">
            <p class="size20">AGAPAY</p>
        </div>
        <div class="section padding5 width0 gap10">
            <a href="/in" class="wpx100 border0 underline medium">HOME</a>
            <a href="/j" class="wpx100 border0 underline medium">JOB OFFERS</a>
            <a href="/c" class="wpx100 border0 underline medium">COMPANIES</a>
        </div>
        <div class="section padding5 width0 gap10">
            <a href="" class="wpx100">Register</a>
            <a href="" class="wpx100">Login</a>
        </div>
    </div>
    <section class="paddingInline15 paddingBlock10 gap15 justifyStart">
        <input type="search" name="" id="" placeholder="Find a Job or Company ..">
        <a href="" class="nav medium"><i class="fas fa-filter"></i></a>
    </section>

    <section class=" gap20">

        <div class="porcelain width24 height0 col alignStart justifyStart padding15">
            <section class="gap5 padding0 justifyStart">
                <img src="/images/logo.png" alt="" class="hpx20 corner500">
                <p class="size20 medium">Microsoft Company</p>
            </section>
            <p class="marginLeft10 size12 blue"><i class="fas fa-check-circle"></i> Engineering</p>
            <section class="bgWhite corner10 col padding15 marginTop10">
                <section class="gap5 padding0 justifyStart">
                    <i class="fas fa-location-dot wpx18"></i> <p class="size14">San Francisco, USA</p>
                </section>
                <section class="gap5 padding0 justifyStart">
                    <i class="fas fa-phone wpx18"></i> <p class="size14">0936-367-0099</p>
                </section>
                <section class="gap5 padding0 justifyStart">
                    <i class="fas fa-envelope wpx18"></i> <p class="size14">micro.co@gmail.com</p>
                </section>
            </section>
            <section class=" justifyBetween">
                <p class="size14">Learn More <i class="fas fa-chevron-right"></i></p>
                <section class="bgGreen100 corner14 width0 padding10 borderGreen900 border1 medium">3 New Job Offers</section>
            </section>
        </div>
        <div class="porcelain width24 hpx200"></div>
        <div class="porcelain width24 hpx200"></div>
        <div class="porcelain width24 hpx200"></div>

    </section>

    <section class=" gap20">

        <div class="porcelain width24 hpx200"></div>
        <div class="porcelain width24 hpx200"></div>
        <div class="porcelain width24 hpx200"></div>
        <div class="porcelain width24 hpx200"></div>

    </section>
</body>
</html>