<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Document</title>
</head>
<body class="col justifyStart">
    <div class="section height10 justifyBetween">
        <div class="padding15 hpx100 corner500 width0 gap15">
            <img src="/images/logo.png" alt="" class="height90 corner500">
            <input type="search" name="" id="" placeholder="Find a Job or Company ..">
        </div>
        <div class="section padding5 width0 gap10">
            <a href="/r" class="wpx100">Register</a>
            <a href="/l" class="wpx100">Login</a>
        </div>
    </div>
    <section class="padding20 bgSoft col gap15">
        <p class="size50">AGAPAY</p>

        <p class="size16 width70 textBalance textCenter">Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi neque officia expedita vero? Tempore et inventore molestias, doloribus totam soluta alias possimus iure sit velit praesentium neque dolore maxime asperiores.</p>

        <a href="/j" class="nav bgBlue900 medium">Find Your Job &nbsp; <i class="fas fa-chevron-right marginRight2"></i></a>

    </section>

    <br>

    <section class="padding0">
        <p class="size30">Our Partners</p>
    </section>

    <section class=" gap20">
        <a href="" class="nav circle"><i class="fas fa-chevron-left"></i></a>
        <div class="porcelain width22 hpx200"></div>
        <div class="porcelain width22 hpx200"></div>
        <div class="porcelain width22 hpx200"></div>
        <div class="porcelain width22 hpx200"></div>
        <a href="" class="nav circle"><i class="fas fa-chevron-right"></i></a>

    </section>
</body>
</html>