<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/style.css">
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
</head>
<body class="">
  <div class="sidef gradient">
    <%- include('partials/head') %>
    <%- include('partials/menu') %>
    <%- include('partials/foot') %>
  </div>
  <div class="mainf">
    <section class="gap10">
      <a href="" class="tiny"><i class="fas fa-bell"></i> Tiny</a>
      <a href="" class=""><i class="fas fa-bell"></i>Default</a>
      <a href="" class="medium"><i class="fas fa-bell"></i> Medium</a>
      <a href="" class="large"><i class="fas fa-bell"></i> Large</a>
      <a href="" class="xlarge"><i class="fas fa-bell"></i> Xlarge</a>
      <a href="" class="xxlarge"><i class="fas fa-bell"></i> 2xlarge</a>
      <a href="" class="xxxlarge"><i class="fas fa-bell"></i> 3xlarge</a>
    </section>
    <section class="gap10">
      <a href="" class="oval tiny"><i class="fas fa-bell"></i> oval tiny</a>
      <a href="" class="oval "><i class="fas fa-bell"></i> oval tiny</a>
      <a href="" class="oval medium"><i class="fas fa-bell"></i> oval tiny</a>
      <a href="" class="oval large"><i class="fas fa-bell"></i> oval tiny</a>
      <a href="" class="oval xlarge"><i class="fas fa-bell"></i> oval tiny</a>
      <a href="" class="oval xxlarge"><i class="fas fa-bell"></i> oval tiny</a>
      <a href="" class="oval xxxlarge"><i class="fas fa-bell"></i> oval tiny</a>
    </section>
    <section class="gap10">
      <a href="" class="circle square tiny"><i class="fas fa-bell"></i></a>
      <a href="" class="circle square "><i class="fas fa-bell"></i></a>
      <a href="" class="circle square medium"><i class="fas fa-bell"></i></a>
      <a href="" class="circle square large"><i class="fas fa-bell"></i></a>
      <a href="" class="circle square xlarge"><i class="fas fa-bell"></i></a>
      <a href="" class="circle square xxlarge"><i class="fas fa-bell"></i></a>
      <a href="" class="circle square xxxlarge"><i class="fas fa-bell"></i></a>
    </section>
  </div>
</body>
</html>