<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Document</title>
    <style>
        
hr { width: 100%; opacity: 0.5; border-width: 0.5px; border-color: black !important; }
    </style>
</head>
<body class="col justifyStart">
    <div class="section height10 justifyBetween">
        <div class="padding15 hpx100 corner500 width0 gap15">
            <img src="/images/logo.png" alt="" class="height90 corner500">
            <p class="size20">AGAPAY</p>
        </div>
        <div class="section padding5 width0 gap10">
            <a href="/in" class="wpx100 border0 underline medium">HOME</a>
            <a href="/j" class="wpx100 border0 underline medium">JOB OFFERS</a>
            <a href="/c" class="wpx100 border0 underline medium">COMPANIES</a>
        </div>
        <div class="section padding5 width0 gap10">
            <a href="" class="wpx100">Register</a>
            <a href="" class="wpx100">Login</a>
        </div>
    </div>
    <section class="paddingInline15 paddingBlock10 gap15 justifyStart">
        <input type="search" name="" id="" placeholder="Find a Job or Company ..">
        <a href="" class="nav medium"><i class="fas fa-filter"></i></a>
        &nbsp; |
        &nbsp;
        <select name="" id="" class="width0 widthMax0 paddingInline10">
            <option value="">Location</option>
        </select>
        <select name="" id="" class="width0 widthMax0 paddingInline10">
            <option value="">Job Title</option>
        </select>
        <select name="" id="" class="width0 widthMax0 paddingInline10">
            <option value="">Employment Type</option>
        </select>
        <select name="" id="" class="width0 widthMax0 paddingInline10">
            <option value="">Education</option>
        </select>
        <select name="" id="" class="width0 widthMax0 paddingInline10">
            <option value="">Company</option>
        </select>
        <select name="" id="" class="width0 widthMax0 paddingInline10">
            <option value="">Work Mode</option>
        </select>
        &nbsp; | &nbsp; 
        <input type="checkbox" name="" id="">
        <p class="size12">Fresh Grad</p>
        <input type="checkbox" name="" id="">
        <p class="size12">With No Experience</p>

    </section>

    <section class=" gap20">

        <div class="porcelain width24 height0 col alignStart justifyStart padding15">
            <p class="size24 medium">Marketing Associate</p>
            <section class="gap5 padding0 justifyStart">
                <img src="/images/logo.png" alt="" class="hpx20 corner500">
                <p class="size14">Microsoft Company <i class="fas fa-check-circle blue marginRight5"></i></p>
            </section>
            <br>
            <section class="bgWhite corner10 col padding15">
                <section class="gap5 padding0 justifyStart">
                    <i class="fas fa-location-dot wpx18"></i> <p class="size14">Cabanatuan City</p>
                </section>
                <section class="gap5 padding0 justifyStart">
                    <i class="fas fa-suitcase wpx18"></i> <p class="size14">Full Time Work</p>
                </section>
            </section>
            <br>
            <div class="section padding0 gap10 justifyStart">
                <section class="bgBlue100 corner14 width0 padding10 borderBlue900 border1">With No Experience</section>
                <section class="bgGreen100 corner14 width0 padding10 borderGreen900 border1">Blended</section>
                <section class="bgViolet100 corner14 width0 padding10 borderViolet900 border1">Fresh Grad</section>
            </div>
            <br>
            <hr>
            <section class=" justifyBetween">
                <p class="size14">Learn More <i class="fas fa-chevron-right"></i></p>
                <a href="" class="nav small bgBlue800">Apply Now</a>
            </section>
        </div>
        <div class="porcelain width24 height0 col alignStart justifyStart padding15">
            <p class="size24 medium">Marketing Associate</p>
            <section class="gap5 padding0 justifyStart">
                <img src="/images/logo.png" alt="" class="hpx20 corner500">
                <p class="size14">Microsoft Company <i class="fas fa-check-circle blue marginRight5"></i></p>
            </section>
            <br>
            <section class="bgWhite corner10 col padding15">
                <section class="gap5 padding0 justifyStart">
                    <i class="fas fa-location-dot wpx18"></i> <p class="size14">Cabanatuan City</p>
                </section>
                <section class="gap5 padding0 justifyStart">
                    <i class="fas fa-suitcase wpx18"></i> <p class="size14">Full Time Work</p>
                </section>
            </section>
            <br>
            <div class="section padding0 gap10 justifyStart">
                <section class="bgBlue100 corner14 width0 padding10 borderBlue900 border1">With No Experience</section>
                <section class="bgGreen100 corner14 width0 padding10 borderGreen900 border1">Blended</section>
                <section class="bgViolet100 corner14 width0 padding10 borderViolet900 border1">Fresh Grad</section>
            </div>
            <br>
            <hr>
            <section class=" justifyBetween">
                <p class="size14">Learn More <i class="fas fa-chevron-right"></i></p>
                <a href="" class="nav small bgBlue800">Apply Now</a>
            </section>
        </div>
        <div class="porcelain width24 hpx200"></div>
        <div class="porcelain width24 hpx200"></div>

    </section>

    <section class=" gap20">

        <div class="porcelain width24 hpx200"></div>
        <div class="porcelain width24 hpx200"></div>
        <div class="porcelain width24 hpx200"></div>
        <div class="porcelain width24 hpx200"></div>

    </section>
</body>
</html>