<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
    <script src="/style-jit.js"></script>
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
</head>
<body class="">
  <div class="porcelain corner10 absolute bottom20 right20 hpx160 wpx200 padding1">
    <div class="porcelain padding1 corner10"><div class="shards corner10 padding5 shadow2"><div class="liquid corner10 relative shadow3">
        <div class="area80 shards corner10 absolute top10n right10n rotate225 shadow3 glass"></div>
        <div class="area80 shards corner10 absolute left10n bottom10n rotate225 shadow3 glass"></div>
    </div></div></div>
  </div>
  <div class="sidef gradient">
    <%- include('partials/head') %>
    <%- include('partials/menu') %>
    <%- include('partials/foot') %>
  </div>
  <div class="mainf width85">
    <section class="gap10 textStone950">
        <input type="search" name="" id="" class="">
        <input type="text">
        <select name="" id="" class="paddingInline5">
            <option value="">Signature</option>
        </select>
    </section>
  </div>
</body>
</html>