<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body class="polaroid">

    <section class="bgWhite shadow1 width35 corner15 col alignStart padding20 gap10 relative">
        <a href="/r" class="nav circle absolute right15 top15"><i class="fas fa-xmark"></i></a>
        <section class="padding0 col gap10">
            <a href="" class="disable nav circle large"><i class="fas fa-info-circle"></i></a>
            <p class="size28 medium">PRIVACY NOTICE</p>
        </section>
        <section class="noteBlue border0 col textBlue950 padding15">
            <p class="size14 textCenter textBalance">Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo tempora necessitatibus eligendi recusandae ea asperiores voluptatibus accusantium quaerat dignissimos fugit doloribus aperiam ex facere odio ducimus repellendus, modi ipsum sunt!</p>
        </section>
        <section class="padding0 gap5 textBlue500">
            <input type="checkbox" name="" id="">
            <p class="size12">I agree to the AGAPAY Privacy Policy</p>
        </section>
        <br>
        <section class="padding0">
            <a href="/js1" class="nav bgBlue800 width20">Proceed <i class="fas fa-chevron-right"></i></a>
        </section>


    </section>
    
</body>
</html>