<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body class="polaroid">

    <section class="bgWhite shadow1 width35 corner15 col alignStart padding20 gap10">
        <p class="size28 textBlue700">Let's setup your profile!</p>
        <section class="justifyStart paddingInline0 gap5">
            <p class="size16 medium">Career Profile</p>
            <p class="size16 textGray300"><i class="fas fa-chevron-right"></i> Basic Information</p>
            <p class="size16 textGray300"><i class="fas fa-chevron-right"></i> Credentials</p>
        </section>
        <div class="field">
            <label for="">What is your course?</label>
            <select name="" id="">
                <option value="">Choose your course</option>
            </select>
        </div>
        <section class="padding0 gap10">
            <div class="field">
                <label for="">Year Graduated</label>
                <select name="" id="">
                    <option value="">2025</option>
                </select>
            </div>
            <div class="field">
                <label for="">Preferred Work Mode</label>
                <select name="" id="">
                    <option value="">Choose Work Mode</option>
                </select>
            </div>
        </section>
        <div class="field">
            <label for="">Technical Skills & Experties</label>
            <section class="corner10 border1 wrap gap10">
                <div class="area0 padding5 corner10 border1">Canva</div>
                <div class="area0 padding5 corner10 border1">Ms Word</div>
                <div class="area0 padding5 corner10 border1">Food & Beverage</div>
                <div class="area0 padding5 corner10 border1">Figma</div>
                <div class="area0 padding5 corner10 border1">Housekeeping</div>
                <div class="area0 padding5 corner10 border1">Accounting</div>
                <div class="area0 padding5 corner10 border1">Accounting</div>
                <div class="area0 padding5 corner10 border1">Accounting</div>
            </section>
        </div>
        <br>
        <section class="padding0 justifyBetween">
            <a href="/js0" class="nav width20"><i class="fas fa-chevron-left"></i> Back</a>
            <a href="/js2" class="nav bgBlue800 width20">Next <i class="fas fa-chevron-right"></i></a>
        </section>

        <section class="padding0"><a href="/l" class="blue border0 padding0">Already have an account? Login here</a></section>


    </section>
    
</body>
</html>