<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body class="polaroid">


        <section class="bgWhite shadow1 width35 corner15 col alignStart padding20 gap10">
            <p class="size28 textBlue700">Let's setup your profile!</p>
            <section class="justifyStart paddingInline0 gap5">
                <p class="size16 medium textGreen500"><i class="fas fa-check-circle"></i> Career Profile <i class="fas fa-chevron-right"></i></p>
                <p class="size16 medium"> Basic Information</p>
                <p class="size16 textGray300"><i class="fas fa-chevron-right"></i> Credentials</p>
            </section>
            <section class="gap10 padding0">
                <div class="field">
                    <label for="">First Name</label>
                    <input type="text" placeholder="e.g. Juan">
                </div>
                <div class="field">
                    <label for="">Middle Name (Optional)</label>
                    <input type="text" placeholder="e.g. Santos">
                </div>
            </section>
            <section class="gap10 padding0">
                <div class="field">
                    <label for="">Last Name</label>
                    <input type="text" placeholder="e.g. Dela Cruz">
                </div>
                <div class="field">
                    <label for="">Ext Name  (Optional)</label>
                    <input type="text" placeholder="e.g. Jr.,III">
                </div>
            </section>
            <div class="field">
                <label for="">Email</label>
                <input type="text" placeholder="e.g. juandelacruz@gmail.com">
            </div>
            <div class="field">
                <label for="">Contact Number</label>
                <input type="text" placeholder="e.g.09xxxxxxxx">
            </div>
            <br>
            <section class="padding0 justifyBetween">
                <a href="/js2" class="nav width20"><i class="fas fa-chevron-left"></i> Back</a>
                <a href="/js4" class="nav bgBlue800 width20">Next <i class="fas fa-chevron-right"></i></a>
            </section>



        </section>
    
</body>
</html>