<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body class="polaroid">


        <section class="bgWhite shadow1 width35 corner15 col alignStart padding20 gap10">
            <p class="size28 textBlue700">Let's setup your profile!</p>
            <section class="justifyStart paddingInline0 gap5">
                <p class="size16 medium textGreen500"><i class="fas fa-check-circle"></i> Career Profile <i class="fas fa-chevron-right"></i> <i class="fas fa-check-circle"></i> Basic Information</p>
                <p class="size16"><i class="fas fa-chevron-right"></i> Credentials</p>
            </section>
            <div class="field noteBlue border0 padding15 corner10 textBlue950">
                <p class="size12 textLeft medium"><i class="fas fa-info-circle"></i> Quick Upload Rules:</p>
                <p class="size12 textLeft">&bull; Accepted Formats: PDF (preferred for resumes) or Photos (JPG, PNG).</p>
                <p class="size12 textLeft">&bull; File Size: Please keep files under 5MB.</p>
                <p class="size12 textLeft">&bull; Clarity: If uploading a photo, ensure the text is clear and readable—no blurry shots!</p>
                <br>
                <p class="size12 textLeft medium"><i class="fas fa-lightbulb"></i> Pro-Tips for Fresh Grads:</p>
                <p class="size12 textLeft">&bull; For your Resume: We highly recommend using a PDF format. It keeps your layout looking perfect on every recruiter's screen!</p>
                <p class="size12 textLeft">&bull; Waiting for your Diploma? No problem! You can upload your Certificate of Graduation or a screenshot of your Official Grades in the meantime.</p>
            </div>
            <div class="field border1 padding15 corner10">
                <label for=""><i class="fas fa-paperclip"></i> Upload your CV or Resume</label>
                <input type="file" name="" id="">
            </div>
            <div class="field border1 padding15 corner10">
                <label for=""><i class="fas fa-paperclip"></i> Diploma</label>
                <input type="file" name="" id="" class="marginTop5">
            </div>
            <section class="padding0 justifyBetween">
                <a href="/js3" class="nav width20"><i class="fas fa-chevron-left"></i> Back</a>
                <a href="/js5" class="nav bgBlue800 width20">Next <i class="fas fa-chevron-right"></i></a>
            </section>


        </section>
    
</body>
</html>