<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body class="polaroid">

    <section class="bgWhite shadow1 width30 corner15 col alignStart padding20 gap10 relative">
        <section class="padding0 col gap10">
            <a href="" class="disable nav circle large"><i class="fas fa-check-circle bgBlue100"></i></a>
            <p class="size28 medium">READY TO GO?</p>
        </section>
        <section class="noteBlue border0 col textBlue950 padding15">
            <p class="size14 textCenter textBalance">Before we proceed, please ensure your details are correct. By submitting, you allow AGAPAY to share your professional profile with potential employers.</p>
        </section>
        <br>
        <section class="padding0 justifyBetween gap20">
            <a href="/js4" class="nav width100">Go Back</a>
            <a href="/js6" class="nav bgBlue800 width100">Submit Registration</a>
        </section>


    </section>
    
</body>
</html>