<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body class="polaroid">

    <section class="bgWhite shadow1 width40 corner15 col alignStart padding20 gap10 relative">
        <section class="padding0 col gap10">
            <a href="" class="disable nav circle large"><i class="fas fa-thumbs-up bgBlue100"></i></a>
            <p class="size28 medium">Thank you for signing up!</p>
        </section>
        <section class="noteBlue border0 col textBlue950 padding15">
            <p class="size14 textCenter textBalance medium">You're account is under review</p>
            <br>
            <p class="size14 textCenter textBalance">Our admin team is currently reviewing your registration details and uploaded credentials to ensure everything is in order. This verification process typically takes 24 to 48 working hours. </p>
            <br>
            <p class="size14 textCenter textBalance">Once your account is approved, you will receive a confirmation email containing your login credentials.</p>
        </section>
            <br>
            <p class="size14 textCenter textBalance">If you do not receive this email within the specified timeframe, please feel free to reach out to us at agapay.email@gmail.com or contact us via mobile at 09356785678.</p>
        <br>
        <section class="padding0 gap20">
            <a href="/in" class="nav width30">Got It!</a>
        </section>


    </section>
    
</body>
</html>