<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body class="polaroid">

    <div class="height0 width0 shadow1 corner15 padding20 bgWhite col relative">
        <a href="/in" class="nav absolute left20 top20 circle"><i class="fas fa-chevron-left"></i></a>
        <img src="/images/images.jpg" alt="" class="wpx450">
        <p class="size20">Create Account As</p>
        <select name="" id="">
            <option value="" disabled selected>Choose Role</option>
            <option value="">Job Seeker</option>
            <option value="">Employer</option>
        </select>
        <br>
        <a href="/js0" class="nav bgBlue800 width100">Proceed</a>
        <br>
        <a href="/l" class="blue border0 padding0">Already have an account? Login here</a>
    </div>
    
</body>
</html>